.mainui {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  top: 0;
  height: var(--header-height);
  font-size: var(--header-font-size);
}

.footer {
  bottom: 0;
  height: var(--footer-height);
  font-size: var(--footer-font-size);
}

.main {
  position: absolute;
  background-color: red;
  top: calc(2 * 1.75em);
  bottom: calc(1.5 * 1.5em);
}
