.main {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: var(--header-height) auto var(--header-height);
  grid-template-areas:
    "nav side"
    "content side"
    "controls side";
  width: 100vw;
  height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
}

.side {
  grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls {
  grid-area: controls;
  display: flex;
  align-items: center;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-rows: 5% 5% auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "serial option"
    "instructionHeader questionHeader"
    "instruction question";
}

.content > * {
  padding: 0.5em;
  margin: 0.5px;
  box-shadow: 0 0 3px 0 gray;
}

.serial {
  grid-area: serial;
  display: flex;
  justify-content: left;
  align-items: center;
  left: 1em;
}

.option {
  grid-area: option;
  display: flex;
  justify-content: right;
  align-items: center;
  right: 1em;
}

.contentHeaderRow {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
}

.instructionHeader {
  grid-area: instructionHeader;
}

.questionHeader {
  grid-area: questionHeader;
}

.instruction {
  grid-area: instruction;
}

.question {
  grid-area: question;
}
