.main {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: var(--header-height) auto var(--header-height);
  grid-template-areas:
    "nav side"
    "content side"
    "controls side";
  width: 100vw;
  height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
}

.side {
  grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls {
  grid-area: controls;
  display: flex;
  align-items: center;
}

.content {
  grid-area: content;
}

.content > * {
  padding: 0.5em;
}

.serial {
  position: absolute;
  left: 1em;
}

.options {
  position: absolute;
  right: 1em;
}

.contentHeaderRow {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
}
